In [1]:
# Check the membership of apple and banana using membership operator 'in'.
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)
print("orange" in fruits)

True
False

In [2]:
fruits = ["apple", "banana", "cherry"]
print("apple" not in fruits)
print("orange" not in fruits)

False
True

In [6]:
name: str = "Usman"
name1: str = "Usman"
if name == name1:
    print("Names are same")

# print(id(name))

Names are same

In [9]:
a = [1, 2, 3]
b = a
c = a.copy()
print(a is b)
print(id(a))
print(id(b))
print(id(c))

# Comparing two variables that point to different objects
# c = [1, 2, 3]
# print(a is c)  #

True
2865289339584
2865289339584
2865289635392

In [14]:
friends: list[str] = ["rehan", "musa", "usman", "ali"]

for friend in friends:
    print(f"Hello! {friend}, how are you")

print(friend)

Hello! rehan, how are you
Hello! musa, how are you
Hello! usman, how are you
Hello! ali, how are you
ali

In [15]:
for i in range(5):  # [ 0, 1, 2, 3, 4]
    print(f"Hello world, iteration No:{i}")

# print("hello world")
# print("hello world")
# print("hello world")
# print("hello world")

Hello world, iteration No:0
Hello world, iteration No:1
Hello world, iteration No:2
Hello world, iteration No:3
Hello world, iteration No:4
ali

In [12]:
for i in range(2, 11):  # [ 2, 3,...,10]
    print(f"Hello world, iteration No:{i}")

Hello world, iteration No:2
Hello world, iteration No:3
Hello world, iteration No:4
Hello world, iteration No:5
Hello world, iteration No:6
Hello world, iteration No:7
Hello world, iteration No:8
Hello world, iteration No:9
Hello world, iteration No:10

In [13]:
for i in range(2, 11, 2):  # [ 2, 3,...,10]
    print(f"Hello world, iteration No:{i}")

Hello world, iteration No:2
Hello world, iteration No:4
Hello world, iteration No:6
Hello world, iteration No:8
Hello world, iteration No:10

In [19]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35, 45]

for name, age in zip(names, ages, strict=True):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

ValueError: zip() argument 2 is longer than argument 1

In [20]:
values = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for value in values:
    for sub_value in value:
        print(f"InnerLoop: {sub_value}")

    print(f"Outerloop: {value}")

print("Loop finished")

InnerLoop: 1
InnerLoop: 2
InnerLoop: 3
Outerloop: [1, 2, 3]
InnerLoop: 4
InnerLoop: 5
InnerLoop: 6
Outerloop: [4, 5, 6]
InnerLoop: 7
InnerLoop: 8
InnerLoop: 9
Outerloop: [7, 8, 9]
Loop finished

In [ ]:
# 2 to 10

for table_nmbr in range(2, 100):
    for inner_val in range(1, 11):
        print(f" {table_nmbr} X {inner_val} = {table_nmbr * inner_val}")
    print("")


# 2            x   1          =   2
# table_nmbr   X   inner_val  =  output

In [1]:
condition = ""
while condition != 'exit':
    user_in = input("Enter command: ")
    if user_in != 'exit':
        print(user_in)
    elif user_in == 'exit':
        condition = user_in

hi
hello

In [ ]:
count = 0
while count < 5:
    print("Count is:", count)
    count = count + 1

In [ ]:
shopping_cart: list[str] = ["apple", "salt", "black_pepper", "salt"]

In [7]:
for nmber in range(1, 18):
    if (nmber == 10):
        continue
    print(f'iteration number : {nmber}')

iteration number : 1
iteration number : 2
iteration number : 3
iteration number : 4
iteration number : 5
iteration number : 6
iteration number : 7
iteration number : 8
iteration number : 9
iteration number : 11
iteration number : 12
iteration number : 13
iteration number : 14
iteration number : 15
iteration number : 16
iteration number : 17

In [ ]:
# print 2 to 10 table but make sure 5 table only print 1 to 5

for table_nmbr in range(2, 10):
    for inner_val in range(1, 11):
        if (table_nmbr == 3 and inner_val > 5):
            continue
        print(f" {table_nmbr} X {inner_val} = {table_nmbr * inner_val}")
    print("")

In [8]:
for nmber in range(1, 18):
    if (nmber == 10):
        break
    print(f'iteration number : {nmber}')

iteration number : 1
iteration number : 2
iteration number : 3
iteration number : 4
iteration number : 5
iteration number : 6
iteration number : 7
iteration number : 8
iteration number : 9

In [9]:
numbers: list[int] = [2, 4, 6, 8]
squares: list[int] = []

for number in numbers:
    square = number**2
    squares.append(square)
    # squares.append(number**2)

print(squares)

[4, 16, 36, 64]

In [10]:
# [expression for item in iterable]
squares2 = [number**2 for number in numbers]
print(squares2)

[4, 16, 36, 64]

In [12]:
# we will find squares of even number from 1 to 10

# 1. use range function
# 2. for loop
# 3. condtional statement to find even numbers
# 4. calcualte the squares of even numebrs

squares3: list[int] = []
for i in range(1, 11):
    if i % 2 == 0:
        square = i**2
        squares3.append(square)

print(squares3)

[4, 16, 36, 64, 100]

In [13]:
square4 = [i**2 for i in range(1, 11) if i % 2 == 0]
print(square4)

[4, 16, 36, 64, 100]

In [16]:
print(dir(str))
methods = [method for method in dir(str) if '__' not in method]
print(methods)

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [18]:
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [19]:
my_tuple1 = 1, 2, 3
print(my_tuple1)
print(type(my_tuple1))

(1, 2, 3)
<class 'tuple'>

In [22]:
my_tuple2 = (1)
print(my_tuple2)
print(type(my_tuple2))

1
<class 'int'>

In [23]:
my_tuple3 = (1,)
print(my_tuple3)
print(type(my_tuple3))

(1,)
<class 'tuple'>

In [24]:
tup: tuple[int, ...] = (1, 2, 3, 4, 5, 6)
print(tup[0])

1

In [25]:
tup1: tuple[int, ...] = (1, 2, 3, 4, 5, 6)
# tup1[0] = 10
print(len(tup1))

6

In [28]:
names: tuple[str, str] = ("Rehan", "Usman")

name1, name2 = names
print(name1)
print(name2)
print(type(name1))
print(type(name2))

print(names)

Rehan
Usman
<class 'str'>
<class 'str'>
('Rehan', 'Usman')

In [29]:
a = 5
b = 10
c = a
a = b
b = c
print(a)
print(b)

10
5

In [ ]:
a = 5
b = 10
a, b = b, a
print(a)
print(b)

In [30]:
t1 = (1, 2)
t2 = (2, 3)
print(f"Before swapping: t1={t1} and t2={t2}")
t1, t2 = t2, t1
print(f"After swapping: t1={t1} and t2={t2}")

Before swapping: t1=(1, 2) and t2=(2, 3)
After swapping: t1=(2, 3) and t2=(1, 2)

In [ ]:
test_tup = (1, 2, [100, 200])