In [ ]:
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

In [ ]:
my_tuple1 = 1, 2, 3
print(my_tuple1)
print(type(my_tuple1))

In [ ]:
my_tuple2 = (1)
print(my_tuple2)
print(type(my_tuple2))

In [ ]:
my_tuple3 = (1,)
print(my_tuple3)
print(type(my_tuple3))

In [ ]:
tup: tuple[int, ...] = (1, 2, 3, 4, 5, 6)
print(tup[0])

In [ ]:
tup1: tuple[int, ...] = (1, 2, 3, 4, 5, 6)
# tup1[0] = 10
print(len(tup1))

In [ ]:
names: tuple[str, str] = ("Rehan", "Usman")

name1, name2 = names
print(name1)
print(name2)
print(type(name1))
print(type(name2))

print(names)

In [ ]:
a = 5
b = 10
c = a
a = b
b = c
print(a)
print(b)

In [ ]:
a = 5
b = 10
a, b = b, a
print(a)
print(b)

In [ ]:
t1 = (1, 2)
t2 = (2, 3)
print(f"Before swapping: t1={t1} and t2={t2}")
t1, t2 = t2, t1
print(f"After swapping: t1={t1} and t2={t2}")

In [ ]:
# Assignment: Try to change the elements in the list.
test_tup = (1, 2, [100, 200])