In [ ]:
friends: list[str] = ["rehan", "musa", "usman", "ali"]

for friend in friends:
    print(f"Hello! {friend}, how are you")

print(friend)

In [ ]:
for i in range(5):  # [ 0, 1, 2, 3, 4]
    print(f"Hello world, iteration No:{i}")

In [ ]:
for i in range(2, 11):  # [ 2, 3,...,10]
    print(f"Hello world, iteration No:{i}")

In [ ]:
for i in range(2, 11, 2):  # [ 2, 3,...,10]
    print(f"Hello world, iteration No:{i}")

In [ ]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35, 45]

for name, age in zip(names, ages, strict=True):
    print(f"{name} is {age} years old")

In [ ]:
values = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for value in values:
    for sub_value in value:
        print(f"InnerLoop: {sub_value}")

    print(f"Outerloop: {value}")

print("Loop finished")

In [ ]:
# 2 to 10

for table_nmbr in range(2, 100):
    for inner_val in range(1, 11):
        print(f" {table_nmbr} X {inner_val} = {table_nmbr * inner_val}")
    print("")


# 2            x   1          =   2
# table_nmbr   X   inner_val  =  output